evo==1.29.0
yacs==0.1.8
gdown==5.2.0
einops==0.8.0
open3d==0.19.0
loguru==0.7.2
plyfile==1.0.3
pyrender==0.1.45
omegaconf==2.3.0
keyboard==0.13.5

pycocotools==2.0.8
timm==0.9.0
ultralytics==8.3.80
supervision==0.25.1
scikit-image==0.24.0
segment-anything==1.0
pytorch-minimize==0.0.2
pytorch-lightning==2.4.0
open_clip_torch
viser==0.2.23
pyequilib==0.3.0
mmcv-lite==2.2.0
mmengine==0.10.4

opencv-python-headless==4.10.0.84
imageio[ffmpeg]
ffmpeg==1.4
openpyxl==3.1.5
filterpy==1.4.5
smplx==0.1.28
fvcore
pyliblzfse
smplcodec
git+https://github.com/mattloper/chumpy@9b045ff5d6588a24a0bab52c83f032e2ba433e17
git+https://github.com/facebookresearch/pytorch3d.git@stable